<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.RoomMapper" >
  <resultMap id="BaseResultMap" type="com.model.Room" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="num" property="num" jdbcType="VARCHAR" />
    <result column="position" property="position" jdbcType="VARCHAR" />
    <result column="desc" property="desc" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, num, position, desc
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from room
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from room
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.Room" >
    insert into room (id, num, position, 
      desc)
    values (#{id,jdbcType=VARCHAR}, #{num,jdbcType=VARCHAR}, #{position,jdbcType=VARCHAR}, 
      #{desc,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.model.Room" >
    insert into room
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="num != null" >
        num,
      </if>
      <if test="position != null" >
        position,
      </if>
      <if test="desc != null" >
        desc,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="num != null" >
        #{num,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        #{position,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        #{desc,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.Room" >
    update room
    <set >
      <if test="num != null" >
        num = #{num,jdbcType=VARCHAR},
      </if>
      <if test="position != null" >
        position = #{position,jdbcType=VARCHAR},
      </if>
      <if test="desc != null" >
        desc = #{desc,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.Room" >
    update room
    set num = #{num,jdbcType=VARCHAR},
      position = #{position,jdbcType=VARCHAR},
      desc = #{desc,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <resultMap type="Room" id="roomMap" autoMapping="true">
  	<id column="r_id" property="id"/>
  	<collection property="screenList" ofType="Screen" autoMapping="true">
  		<id column="s_id" property="id"/>
  	</collection>
  </resultMap>
  
  <select id="selectScreenByRoom" parameterType="Room" resultMap="roomMap">
  	select
  		r.id r_id, r.num, r.position, r.desc,
  		s.id s_id, s.username, s.password, s.room_id, s.user_id, s.duration, s.times, s.type, s.resolution
  	from room r left join screen s on r.id=s.room_id
  	<where>
  		<if test="id!=null">
  			and r.id=#{id}
  		</if>
  		<if test="num!=null">
  			and r.num=#{num}
  		</if>
  		<if test="userId!=null">
  			and s.user_id=#{userId}
  		</if>
  	</where>
  </select>
  <select id="selectAllId" resultType="java.lang.String">
 	select id from room
 </select>
 
 <select id="selectAllRoom" resultType="Room" parameterType="Room">
 	select id, num, position ,`desc` from room
 </select>
</mapper>