<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.dao.UserMapper" >
  <resultMap id="BaseResultMap" type="com.model.User" >
    <id column="id" property="id" jdbcType="VARCHAR" />
    <result column="username" property="username" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="truename" property="truename" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="INTEGER" />
    <result column="telephone" property="telephone" jdbcType="VARCHAR" />
    <result column="email" property="email" jdbcType="VARCHAR" />
    <result column="job" property="job" jdbcType="VARCHAR" />
    <result column="job_type" property="jobType" jdbcType="VARCHAR" />
    <result column="enterprise_type" property="enterpriseType" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="INTEGER" />
    <result column="admin_id" property="adminId" jdbcType="VARCHAR" />
    <result column="screen_num" property="screenNum" jdbcType="INTEGER" />
    <result column="duration" property="duration" jdbcType="VARCHAR" />
    <result column="times" property="times" jdbcType="INTEGER" />
    <result column="remake" property="remake" jdbcType="VARCHAR" />
    <result column="max_file_num" property="maxFileNum" jdbcType="INTEGER" />
    <result column="invite_code" property="inviteCode" jdbcType="VARCHAR" />
    <result column="open_id" property="openId" jdbcType="VARCHAR" />
    <result column="union_id" property="unionId" jdbcType="VARCHAR" />
    <result column="enterprise_id" property="enterpriseId" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, username, password, truename, sex, telephone, email, job, job_type, enterprise_type, 
    role, admin_id, screen_num, duration, times, remake, max_file_num, invite_code, open_id, 
    union_id, enterprise_id
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from user
    where id = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from user
    where id = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.model.User" >
    insert into user (id, username, password, 
      truename, sex, telephone, 
      email, job, job_type, 
      enterprise_type, role, admin_id, 
      screen_num, duration, times, 
      remake, max_file_num, invite_code, 
      open_id, union_id, enterprise_id
      )
    values (#{id,jdbcType=VARCHAR}, #{username,jdbcType=VARCHAR}, #{password,jdbcType=VARCHAR}, 
      #{truename,jdbcType=VARCHAR}, #{sex,jdbcType=INTEGER}, #{telephone,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{job,jdbcType=VARCHAR}, #{jobType,jdbcType=VARCHAR}, 
      #{enterpriseType,jdbcType=INTEGER}, #{role,jdbcType=INTEGER}, #{adminId,jdbcType=VARCHAR}, 
      #{screenNum,jdbcType=INTEGER}, #{duration,jdbcType=VARCHAR}, #{times,jdbcType=INTEGER}, 
      #{remake,jdbcType=VARCHAR}, #{maxFileNum,jdbcType=INTEGER}, #{inviteCode,jdbcType=VARCHAR}, 
      #{openId,jdbcType=VARCHAR}, #{unionId,jdbcType=VARCHAR}, #{enterpriseId,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.model.User" >
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="username != null" >
        username,
      </if>
      <if test="password != null" >
        password,
      </if>
      <if test="truename != null" >
        truename,
      </if>
      <if test="sex != null" >
        sex,
      </if>
      <if test="telephone != null" >
        telephone,
      </if>
      <if test="email != null" >
        email,
      </if>
      <if test="job != null" >
        job,
      </if>
      <if test="jobType != null" >
        job_type,
      </if>
      <if test="enterpriseType != null" >
        enterprise_type,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="adminId != null" >
        admin_id,
      </if>
      <if test="screenNum != null" >
        screen_num,
      </if>
      <if test="duration != null" >
        duration,
      </if>
      <if test="times != null" >
        times,
      </if>
      <if test="remake != null" >
        remake,
      </if>
      <if test="maxFileNum != null" >
        max_file_num,
      </if>
      <if test="inviteCode != null" >
        invite_code,
      </if>
      <if test="openId != null" >
        open_id,
      </if>
      <if test="unionId != null" >
        union_id,
      </if>
      <if test="enterpriseId != null" >
        enterprise_id,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="username != null" >
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        #{truename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        #{sex,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        #{job,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null" >
        #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        #{enterpriseType,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="screenNum != null" >
        #{screenNum,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        #{duration,jdbcType=VARCHAR},
      </if>
      <if test="times != null" >
        #{times,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        #{remake,jdbcType=VARCHAR},
      </if>
      <if test="maxFileNum != null" >
        #{maxFileNum,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        #{enterpriseId,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.model.User" >
    update user
    <set >
      <if test="username != null" >
        username = #{username,jdbcType=VARCHAR},
      </if>
      <if test="password != null" >
        password = #{password,jdbcType=VARCHAR},
      </if>
      <if test="truename != null" >
        truename = #{truename,jdbcType=VARCHAR},
      </if>
      <if test="sex != null" >
        sex = #{sex,jdbcType=INTEGER},
      </if>
      <if test="telephone != null" >
        telephone = #{telephone,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        email = #{email,jdbcType=VARCHAR},
      </if>
      <if test="job != null" >
        job = #{job,jdbcType=VARCHAR},
      </if>
      <if test="jobType != null" >
        job_type = #{jobType,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseType != null" >
        enterprise_type = #{enterpriseType,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=INTEGER},
      </if>
      <if test="adminId != null" >
        admin_id = #{adminId,jdbcType=VARCHAR},
      </if>
      <if test="screenNum != null" >
        screen_num = #{screenNum,jdbcType=INTEGER},
      </if>
      <if test="duration != null" >
        duration = #{duration,jdbcType=VARCHAR},
      </if>
      <if test="times != null" >
        times = #{times,jdbcType=INTEGER},
      </if>
      <if test="remake != null" >
        remake = #{remake,jdbcType=VARCHAR},
      </if>
      <if test="maxFileNum != null" >
        max_file_num = #{maxFileNum,jdbcType=INTEGER},
      </if>
      <if test="inviteCode != null" >
        invite_code = #{inviteCode,jdbcType=VARCHAR},
      </if>
      <if test="openId != null" >
        open_id = #{openId,jdbcType=VARCHAR},
      </if>
      <if test="unionId != null" >
        union_id = #{unionId,jdbcType=VARCHAR},
      </if>
      <if test="enterpriseId != null" >
        enterprise_id = #{enterpriseId,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.model.User" >
    update user
    set username = #{username,jdbcType=VARCHAR},
      password = #{password,jdbcType=VARCHAR},
      truename = #{truename,jdbcType=VARCHAR},
      sex = #{sex,jdbcType=INTEGER},
      telephone = #{telephone,jdbcType=VARCHAR},
      email = #{email,jdbcType=VARCHAR},
      job = #{job,jdbcType=VARCHAR},
      job_type = #{jobType,jdbcType=VARCHAR},
      enterprise_type = #{enterpriseType,jdbcType=INTEGER},
      role = #{role,jdbcType=INTEGER},
      admin_id = #{adminId,jdbcType=VARCHAR},
      screen_num = #{screenNum,jdbcType=INTEGER},
      duration = #{duration,jdbcType=VARCHAR},
      times = #{times,jdbcType=INTEGER},
      remake = #{remake,jdbcType=VARCHAR},
      max_file_num = #{maxFileNum,jdbcType=INTEGER},
      invite_code = #{inviteCode,jdbcType=VARCHAR},
      open_id = #{openId,jdbcType=VARCHAR},
      union_id = #{unionId,jdbcType=VARCHAR},
      enterprise_id = #{enterpriseId,jdbcType=VARCHAR}
    where id = #{id,jdbcType=VARCHAR}
  </update>
  
  <select id="selectAllUser" parameterType="java.util.Map" resultType="User">
  	select 
  		<include refid="Base_Column_List" />
    from user
    <where>
    	<if test="id!=null">
    		and id=#{id}
    	</if>
    	<if test="username!='' and username!=null ">
    		and username=#{username}
    	</if>
    	<if test="telephone!='' and telephone!=null">
    		and telephone=#{telephone}
    	</if>
    	<if test="adminId!=null">
    		and admin_id=#{adminId}
    	</if>
    	<if test="role!=null">
    		and role=#{role}
    	</if>
    	<if test="truename!=null">
    		and concat (username,truename) like concat ('%',#{truename},'%')
    	</if>
    	<if test="openId!=null">
    		and open_id=#{openId}
    	</if>
    	<if test="inviteCode!=null">
    		and invite_code=#{inviteCode}
    	</if>
    </where>
  </select>
  
  <resultMap type="User" id="userResultMap" autoMapping="true">
  	<id column="u_id" property="id"/>
  	<association property="enterprise" javaType="Enterprise" autoMapping="true">
  		<id column="e_id" property="id"/>
  	</association>
  </resultMap>
  
  <select id="userLogin" parameterType="java.util.Map" resultMap="userResultMap">
  	select
  		u.id u_id, u.username, u.password, u.truename, u.sex, u.telephone, u.email, u.job, u.job_type, u.enterprise_type, 
    	u.role, u.admin_id, u.screen_num, u.duration, u.times, u.remake, u.max_file_num, u.invite_code, u.open_id, 
    	u.union_id, u.enterprise_id,
    	e.id e_id, e.enterprise_name, e.logo, e.seal_file
    from user u left join enterprise e on u.enterprise_id=e.id
    <where>
    	<if test="id!=null">
    		and id=#{id}
    	</if>
    	<if test="username!='' and username!=null ">
    		and username=#{username}
    	</if>
    	<if test="telephone!='' and telephone!=null">
    		and telephone=#{telephone}
    	</if>
    </where>
  </select>
  
  <select id="selectAllId" resultType="java.lang.String">
 	select id from user
 </select>
</mapper>